<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Carta de Vinhos Enjoy</title>
</head>

<body>
  <a href="/" class="main-title">
    Carta de Vinhos Enjoy
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
  <div class="add-wine">
    <a href="/newpost">Adicionar Vinho
    <img src="/images/add_button.gif"/>
    </a>
  </div>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  <div class="age">
    {{age}}
  </div>
</body>

</html>

